---
import type { BlogSchema } from "../content.config";
import { getDate } from "../utils/date";
export interface Props {
  frontmatter: BlogSchema;
  id: string;
  secHeading?: boolean;
}
const { description, publishedAt, title } = Astro.props.frontmatter;
function redirect() {
  Astro.redirect(`/blog/#{postSlug}`);
}
---

<a href={`/blog/${Astro.props.id}`} data-astro-prefetch>
  <div
    class="text-left w-72 md:w-96 pt-4 h-32 shadow transition-all hover:scale-105"
  >
    <p class="text-lg md:text-base text-primary">{title}</p>
    <p class="text-sm md:text-sm text-secondary pt-2">{description}</p>
    <a
      class="text-sm underline text-accent"
      href={`/blog/${Astro.props.id}`}
      data-astro-prefetch>Read more -&gt</a
    >
  </div>
</a>
