---
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import {
  faGithub,
  faInstagram,
  faTwitch,
  faYoutube,
  faDiscord,
} from "@fortawesome/free-brands-svg-icons";
import { faCode } from "@fortawesome/free-solid-svg-icons";
import "@fortawesome/fontawesome-svg-core/styles.css";
import { config } from "@fortawesome/fontawesome-svg-core";
import { Button } from "~/components/ui/button";
config.autoAddCss = false;
---

<section id="links" class="text-xl list-none h-screen font-bold">
  <li>
    <a
      href="https://github.com/wiktrek"
      target="__blank"
      class="hover:text-secondary"
    >
      <FontAwesomeIcon icon={faGithub} />
    </a>

    <a
      href="https://discord.com/users/499665258038820866"
      target="__blank"
      class="hover:text-secondary"
    >
      <FontAwesomeIcon icon={faDiscord} />
    </a>
    <a
      href="https://www.twitch.tv/wiktrekxyz"
      target="__blank"
      class="hover:text-secondary"
    >
      <FontAwesomeIcon icon={faTwitch} />
    </a>

    <a
      href="https://www.instagram.com/wiktrekxyz"
      target="__blank"
      class="hover:text-secondary"
    >
      <FontAwesomeIcon icon={faInstagram} />
    </a>

    <a
      href="https://www.youtube.com/@wiktrek"
      target="__blank"
      class="hover:text-secondary"
    >
      <FontAwesomeIcon icon={faYoutube} />
    </a>

    <a
      href="https://github.com/wiktrek/wiktrekxyz"
      target="__blank"
      class="hover:text-secondary"
    >
      <FontAwesomeIcon icon={faCode} />
    </a>
  </li>
  <ul>
    <li class="pt-4">
      <a href="/#projects">
        <Button variant="outline" size="lg">Projects</Button>
      </a>
    </li>
    <li class="pt-1">
      <a href="/skills">
        <Button variant="outline" size="lg">Skills</Button>
      </a>
    </li>
    <li class="pt-1">
      <a href="/blog">
        <Button variant="outline" size="lg">Blog</Button>
      </a>
    </li>
  </ul>
</section>
