---
import Project, { type Props as Data } from "~/components/Projects.tsx";
const data: Data[] = [
  {
    description: "My website with other cool projects",
    span: "project.wiktrek.xyz",
    second_title: "project.wiktrek.xyz",
    title: "project",
    link: "https://project.wiktrek.xyz/",
  },
  {
    description: "Simple discord bot",
    span: "My first programming project",
    second_title: "My discord bot",
    title: "wiktrekbot",
    link: "https://github.com/wiktrek/wiktrekbot",
  },
  {
    description: "Create polls",
    span: "poll app",
    second_title: "project.wiktrek.xyz",
    title: "poll app",
    link: "https://project.wiktrek.xyz/projects/poll",
  },
  {
    description: "Create short links",
    span: "Cool project",
    second_title: "Link shortener",
    title: "link shortener",
    link: "https://project.wiktrek.xyz/projects/url",
  },
  {
    description: "Repository with many projects made in rust",
    span: "made in rust btw",
    second_title: "Small rust projects",
    title: "rust",
    link: "https://github.com/wiktrek/rust",
  },
  {
    description: "Simple game",
    span: "made in rust with bevy btw",
    second_title: "Snake made with bevy",
    title: "snake",
    link: "https://github.com/wiktrek/games/tree/main/snake"
  }
];
---

<section id="projects" class="flex h-[100vh] text-4xl justify-center text-center items-center flex-col  ">
  <p class="text-5xl ">Projects</p>
  <div class="grid mx-auto grid-cols-3 gap-9">
  {
    data.map((props) => (
      <Project
        description={props.description}
        span={props.span}
        second_title={props.second_title}
        title={props.title}
        link={props.link}
        client:idle
      />
    ))
  }
  </div>
</section>
